.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todoList {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px;
}

.todoList h1 {
  text-align: center;
}

.todoList .box-info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.todoList .box-info p {
  margin-bottom: 0;
  padding-right: 10px;
}

.list-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todoList ul {
  padding-left: 0;
}

.todoList form {
  display: flex;
  align-items: center;
}

.todoList form button {
  width: 110px;
  margin-left: 10px;
}

.todoList .list-item .remove-item {
  cursor: pointer;
}

.login {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}
